<head>
    <meta charset="NTF-8">
    <title>Creá tu cuenta</title>
    <link rel="stylesheet" href="/css/style-register.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    <header>
            
        <div class="header-superior">
            <div class="header-logo">

                <img src="\images\logo-mercado-liebre.svg" alt="Logo">

            </div>

            <div class="form" action='#' method="GET">

                <input class="texto-busqueda" placeholder="Buscar productos, marcas y más">
                <button class="boton-buscar"><i class="fas fa-search"></i></button>

                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito</p>   

            </div>
        </div>   

        <div class="header-inferior">

            <nav>

                <ul class="general-nav">

                    <li><a href="/ofertas">Ofertas</a></li>
                    <li><a href="/tiendas">Tiendas Oficiales</a></li>
                    <li><a href="/vender">Vender</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>

                </ul>

                <ul class="login-buttons">

                        <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="/miscompras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>

                </ul>

            </nav>

        </div>    

        <div class="burguer-menu">

            <i class="fas fa-bars-burguer"></i>

        </div>

    </header>

    <main>
        <form action="/home" method="GET">
        <p>
            <input type="text" name="nombre" placeholder="Nombre y apellido">
        </p>
        <p>
            <input type="text" name="nombre" placeholder="Nombre y Nombre de usuario">
        </p>
        <p>
            <input type="email" name="nombre" placeholder="E-mail">
        </p>
        <p>
            <h2>Fecha de nacimiento</h2>
        </p>
        <p>
            <input type="date" name="nombre" placeholder="mm/dd/yyyy">
        </p>
        <p>
            <input type="text" name="nombre" placeholder="Domicilio">
        </p>
        <p>
            <h2>Perfil de usuario</h2>
        </p>
        <p>
            <input type="radio" name="nombre" value="Comprador">
            <label>Comprador</label>
            <input type="radio" name="nombre" value="Vendedor">
            <label>Vendedor</label>
        </p>
        <div class="intereses">
            <h2>Intereses</h2>
            <input type="checkbox" name="nombre" value="Electro"><label>Electro</label>
            
            <input type="checkbox" name="nombre" value="Moda"><label>Moda</label>
            
            <input type="checkbox" name="nombre" value="Hogar"><label>Hogar</label>
            
            <input type="checkbox" name="nombre" value="Juguetería"><label>Juguetería</label>
            
            <input type="checkbox" name="nombre" value="Vida sana"><label>Vida sana</label>
            
        </div>
        <p>
            <button type="submit">Enviar</button>
        </p>
        </form>
        <footer>

            <section class="tarjeta-texto">
                <i class="far fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con MercadoLiebreCash tenés cuotas sin
                   interés con tarjeta o efectivo en puntos de
                      pago. ¡Y siempre es seguro!</p>   
            </section>
            <section class="envio-texto">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde los $ 2.500</h3>
                <p>Solo por estar registrado en MercadoLiebre tenés envios gratis en miles d eproductos. Es un beneficio de MercadoPuntos.</p>
            </section>
            <section class="seguridad-texto">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡devolvelo! en MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegido</p>
            </section>
        </footer>
    </main>